NavigationInterface {
    background-color: transparent;
}

NavigationPanel[menu=true] {
    background-color: transparent;
    border: none;
    border-radius: 16px;
}

NavigationPanel[menu=false] {
    background-color: transparent;
    border: none;
    border-radius: 16px;
}

NavigationPanel[transparent=true] {
    background-color: transparent;
}

QScrollArea, #scrollWidget {
    border: none;
    background-color: transparent;
}
