ToolTip {
    border-radius: 999px;
}

ToolTip>#container {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgb(249, 249, 249);
    border-radius: 999px;
}

ToolTip>#container[transparent=true] {
    background-color: transparent;
}


QLabel {
    background-color: transparent;
    font: 12px --FontFamilies;
    border: none;
    color: black;
}